.workCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    gap: 20px;
    margin: 15px;
    padding: 30px;
    border: 1px solid #959595;
    border-radius: 30px;
    max-width: 80%;
    text-align: left;
}

.workCard > h3 {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .workCard > h3 {
        font-size: 1.8rem;
        text-align: center;
    }
}