@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Jura', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    --dark-background-color: #131212;
    background-color: var(--dark-background-color);
    position: relative;
}

body::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.13;
    background-image: url("/images/code-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.hoverTransition {
    border-bottom: 1px solid transparent;
    transition: border-bottom 400ms;
}

.hoverTransition:hover {
    border-bottom: 1px solid white;
    transition: border-bottom 400ms;
}